<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - In-class exercise 4</title>
  </head>
  <body>
    <div style="border: 1px solid black; margin: 20px auto; padding: 10px; max-width: 400px; text-align: center">
      <h1>Welcome!</h1>
      <p>Name : {{ name }}</p>
      <p>Surname : {{ surname }}</p>
      <p>Age : {{ age }}</p>
      <p>Email : {{ email }}</p>
      <p><a href="/">Home</a></p>
    </div>
  </body>
</html>