@charset "utf-8";
/* CSS Document */
/*
   Assignment 01
   Developed By:       Jingyu An
   Developed Date:     08-06-2022
   Filename: time-zones.css
   This file contains styles used in the worldTime.html file.
*/
#headbar h2 {
    width: 655px;
    text-align: center;
}

#timemap img {
    position: relative;
    z-index: -1;
}

#timemap input {
    width: 120px;
    height: 20px;
    text-align: center;
    vertical-align: middle;

    background-color: white;
    opacity: 0.8;
}

#place1 {
    position: absolute;
    margin-top: 185px;
    margin-left: 120px;
}

#place2 {
    position: absolute;
    margin-top: 120px;
    margin-left: 280px;
}

#place3 {
    position: absolute;
    margin-top: 150px;
    margin-left: 160px;
}

#place4 {
    position: absolute;
    margin-top: 155px;
    margin-left: 15px;
}

#place5 {
    position: absolute;
    margin-top: 280px;
    margin-left: 520px;
}

#place6 {
    position: absolute;
    margin-top: 175px;
    margin-left: 525px;
}

#timemap table {
    width: 655px;
    table-layout: fixed;
}

#timemap th{
    border: solid 1px black;
}

#timemap td {
    padding: 0 10px;
    border: solid 1px black;
}